<div class="jumbotron mt-4">
  <h1 class="display-4">SmartPymes</h1>
  <p class="lead">Sistema de contratacion empleados</p>
  <hr class="my-4">
 
  <a class="btn btn-primary btn-lg" href="/users/signin" role="button">Inicio Sesion</a>
</div>
